<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "it.assistel.test1"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Assistel</name>

    <description>
        Gestione eventi offline. 
    </description>

    <author href="https://build.assistel.it" email="razvan.gherghina@ibisoft.it">
        Razvan 
    </author>
    <icon src="res/favicon.ico" />
</widget>